*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
}
.container{
    max-width: 450px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('pngtree-meteorological-temperature.jpg');
    background-position: center;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
    font-family: sans-serif;
    padding: 20px;
}
.title{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}
.temp-icon{
    margin-right: 20px;
    font-size: 40px;
    color: beige;
    text-shadow: 0.025em 0.025em 0 yellow,
    0.05em 0.05em 0 blue,
    0.075em 0.075em 0 red,
    0.1em 0.1em 0 black;
}
h1{
    border-bottom: 5px solid rgb(241, 80, 134);
    border-radius: 5px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(241, 80, 134);
    letter-spacing: 1.4px;
    text-shadow: 0.025em 0.025em 0 yellow,
    0.05em 0.05em 0 blue,
    0.075em 0.075em 0 red,
    0.1em 0.1em 0 black;
}
.enterno{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.enterno p{
    font-size: 20px;
}
p{
    color: beige;
    letter-spacing: 1.4px;
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-right: 20px;
    padding-top: 10px;
}
#num{
    margin-top: 10px;
    flex: 5;
    height: 35px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px ;
    padding: 0 10px;
    border: 2px solid black;
}
#temp{
    margin-top: 10px;
    flex: 5;
    height: 35px;
    width: 175px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    border: 2px solid black;
    outline: none;
    border-radius: 8px;
    padding: 0 10px;
}
#temp1{
    margin-top: 10px;
    flex: 5;
    height: 35px;
    width: 175px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 10px;
    border: 2px solid black;
}
.main1{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.type p{
    color: beige;
    letter-spacing: 1.4px;
}
.result{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    text-align: center;
    color: beige;
    letter-spacing: 1.4px;
}
#result{
    margin-top: 10px;
    flex: 5;
    height: 35px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px ;
    padding: 0 10px;
    border: 2px solid black;
}
.main2{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.button{
    margin: 25px;
    text-align: center;
}
.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid black;
}
.button button:hover{
    background: rgb(241, 80, 134);
    color: rgb(10, 4, 95);
}
